.info {
    grid-area: info;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Fuente2;
}

.info-card__users,
.info-card__cursos {
    list-style: none;
    padding-inline-start: 0px;
}

.info-card__users__elements,
.info-card__cursos__elements {
    padding: 0;
    margin: 0;
}

.info-card__cursos__elements--links {
    text-decoration: none;
    color: black;
}

.info-card__cursos__elements--links:hover {
    text-decoration: none;
    color: $color_principal;
}